body{
    background: #f5f5f5;
}

.title{
    font-size: 25px;
    text-align: center;
    margin: 3% 0 0 0;
}

.day{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 2% auto 10px;

    .btn,
    a.btn,
    button.btn {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.5;
      position: relative;
      display: inline-block;
      padding: 1rem 4rem;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      letter-spacing: 0.1em;
      color: #212529;
      border-radius: 0.5rem;
    }

    a.btn-radius-solid {
        border: 1px solid #ccc;
        background: #f1e767;
        background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
        background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
        background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
        -webkit-box-shadow: inset 1px 1px 1px #fff;
        box-shadow: inset 1px 1px 1px #fff;
      }
      
      a.btn-radius-solid:hover {
        background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
        background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
        background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
    }

    #today{
        font-size: 20px;
    }
}

table{
    margin: 0 auto;
    text-align: center;
    border-collapse:separate;
    border-spacing: 5px;
    width: 80%;

    th{
        background-color: #c79852;
        color: white;
        border:solid 1px #927141;
    }

    .bg-blue{
        background-color: #f0ffff;
        border:solid 1px #f0ffff;
    }

    th,td{
        width: 200px;
        height: 30px;
        font-size: 15px;
        border-radius: 5px;
        padding: 10px;
    }

    .holiday{
        color: red;
    }
}

.UpdateButton{
    text-align: center;
    margin: 3% 0;

    button{
        font-size: 20px;
    }
}

#collectAlert{
    text-align: center;
    font-size: 15px;
}