@charset "utf-8";

// media
$sizes: xl, lg, md, sm, xs;

$breakpoint-up: (
    'xs': 'screen and (max-width: 576px)',
    'sm': 'screen and (max-width: 768px)',
    'md': 'screen and (max-width: 992px)',
    'lg': 'screen and (max-width: 1200px)',
    'xl': 'screen and (max-width: 1400px)',
);

$breakpoint-down: (
    'xs': 'screen and (min-width: 577px)',
    'sm': 'screen and (min-width: 769px)',
    'md': 'screen and (min-width: 993px)',
    'lg': 'screen and (min-width: 1201px)',
    'xl': 'screen and (min-width: 1401px)',
);

@mixin mq-up($breakpoint: md) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}
@mixin mq-dwn($breakpoint: md) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}

.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100%;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}

.modal{
    display: none;
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100%;
    text-align: center;
    overflow: auto;
    overflow: scroll;

    h2{
        font-size: 25px;
        margin: 20px 0;
    }

    button{
        width: 150px;
        height: 40px;
        margin: 0 20px;
        font-size: 15px;
    }

    p{
        font-size: 15px;
        margin: 20px;
    }

    form{
        .edit{
            margin: 3% 5px;
            display: inline-block;
        }

        p{
            font-size: 15px;
            font-weight: bold;
        }

        #title{
            width: 400px;
        }

        label{
            font-size: 15px;
        }

        input,select{
            font-size: 15px;
        }
    }

    .alert{
        font-size: 15px;
    }
}

h1{
    text-align: center;
    margin: 3% 0;
}

.add_button{
    text-align: center;
}

.btn.btn-info{
    font-size: 15px;
}

#contentList{
    margin: 2% 5%;
    table{
        tr{
            text-align: center;
            font-size: 15px;
        }
    }
}