body{
    text-align: center;
}

.form{
    margin-top: 60px;
    margin-bottom: 40px;

    @media screen and (max-width: 1200px) {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    input{
        border: solid 1px white;
        font-size: 25px;
        border-radius: 10px;
        margin: 20px 0;
        border: 2px solid gray;
    }

    input::placeholder {
        color: #666;
        font-size: 18px;
        opacity: 0.6;
    }

    #userName{
        background-image: url('../honbuImages/owner.png');
        background-size:contain;
        background-repeat: no-repeat;
        text-indent: 40px;
        background-size: 30px;
        background-position-x: 10px;
        background-position-y: 15px;
        width: 400px;
        height: 60px;

        @media screen and (max-width: 1200px) {
            background-size: 25px;
            background-position-x: 10px;
            background-position-y: 10px;
            width: 300px;
            height: 50px;
        }
    }

    input[type="mail"]{
        background-image: url('../honbuImages/email.png');
        background-size:contain;
        background-repeat: no-repeat;
        text-indent: 40px;
        background-size: 30px;
        background-position-x: 10px;
        background-position-y: 15px;
        width: 400px;
        height: 60px;

        @media screen and (max-width: 1200px) {
            background-size: 25px;
            background-position-x: 10px;
            background-position-y: 10px;
            width: 300px;
            height: 50px;
        }
    }

    input[type="password"]{
        background-image: url('../honbuImages/password.png');
        background-size:contain;
        background-repeat: no-repeat;
        text-indent: 40px;
        background-size: 30px;
        background-position-x: 10px;
        background-position-y: 15px;
        width: 400px;
        height: 60px;

        @media screen and (max-width: 1200px) {
            background-size: 25px;
            background-position-x: 10px;
            background-position-y: 10px;
            width: 300px;
            height: 50px;
        }
    }
}

#login_button{
    background: #FFEB00;
    color: black;
    font-size: 20px;
    padding: 15px 0;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    box-shadow: 3px 3px 3px lightgray;
    margin-top: 60px;
    width: 300px;


    @media screen and (max-width: 1200px) {
        margin-top: 40px;
        font-size: 15px;
        padding: 15px 80px;
    }
}

#Alert_danger{
    font-size: 15px;
    padding: 10px 0;
    color: red;
}

#Alert_success{
    font-size: 15px;
    padding: 10px 0;
    color: #38b48b;
}