body {
  text-align: center;
  background: #d3d3d3;
}

.popDemand h1 {
  margin: 30px 0;
  color: #696969;
}

.popDemand .youbouTable {
  background: white;
  margin-bottom: 10px;
  padding: 20px 0;
  border-radius: 20px;
}

.popDemand .youbouTable th, .popDemand .youbouTable td {
  font-size: 15px;
}

.popDemand .youbouTable button {
  margin: 0 5px;
}

.popDemand .youbouTable .collectBack {
  background: #91B87E;
  color: white;
}

.popDemand .youbouTable .orderBack {
  background: #E1DBCD;
}

.popDemand .modal {
  display: none;
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100%;
  text-align: center;
  overflow: auto;
  overflow: scroll;
}

.popDemand .modal h2 {
  font-size: 25px;
  margin: 20px 0;
}

.popDemand .modal button {
  width: 150px;
  height: 40px;
  margin: 5px 20px;
  font-size: 15px;
}

.popDemand .modal p {
  font-size: 15px;
  margin: 20px;
}

.popDemand .modal form .edit {
  margin: 3% 5px;
  font-size: 15px;
}

.popDemand .modal form .edit div {
  display: inline-block;
  margin-right: 10px;
}

.popDemand .modal form .edit div p {
  display: inline-block;
}

.popDemand .modal form #subject {
  width: 60%;
}

.popDemand .modal form #number {
  width: 50px;
}

.popDemand .modal form #horizontal, .popDemand .modal form #vertical, .popDemand .modal form #covering_fare {
  width: 80px;
}

.popDemand .modal form #demand_detail_label {
  vertical-align: top;
}

.popDemand .modal .alert {
  font-size: 15px;
}

.popDemand .modal .modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: absolute;
  width: 100%;
}

.popDemand .modal .modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
}

.popDemand .csvButton {
  text-align: left;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.popDemand .csvButton .btn,
.popDemand .csvButton a.btn,
.popDemand .csvButton button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.popDemand .csvButton a.btn-radius-solid {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.popDemand .csvButton a.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.popDemand .nextButton {
  text-align: left;
  margin-left: 5%;
}

.popDemand .nextButton .btn,
.popDemand .nextButton a.btn,
.popDemand .nextButton button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  margin-bottom: 3%;
}

.popDemand .nextButton a.btn-radius-solid {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.popDemand .nextButton a.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.jump {
  font-size: 15px;
  margin: 0 5px;
}

.price h1 {
  margin: 30px 0;
  color: #696969;
}

.price .youbouTable {
  background: white;
  margin-bottom: 10px;
  padding: 20px 0;
  border-radius: 20px;
}

.price .youbouTable th, .price .youbouTable td {
  font-size: 15px;
}

.price .youbouTable button {
  margin: 0 5px;
}

.price .youbouTable .collectBack {
  background: #91B87E;
  color: white;
}

.price .youbouTable .orderBack {
  background: #E1DBCD;
}

.price .modal {
  display: none;
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100%;
  text-align: center;
  overflow: auto;
  overflow: scroll;
}

.price .modal h2 {
  font-size: 25px;
  margin: 20px 0;
}

.price .modal button {
  width: 150px;
  height: 40px;
  margin: 5px 20px;
  font-size: 15px;
}

.price .modal p {
  font-size: 15px;
  margin: 20px;
}

.price .modal form .edit {
  margin: 2% 5px;
}

.price .modal form .edit div {
  display: inline-block;
}

.price .modal form .edit div .inline {
  display: inline-block;
}

.price .modal form label {
  font-size: 15px;
}

.price .modal .orderContent {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
}

.price .modal .alert {
  font-size: 15px;
}

.price .modal .modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: absolute;
  width: 100%;
}

.price .modal .modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
}

.price .modal #edit_submit_button_price {
  display: inline-block;
}

.price .modal .btn-outline-info {
  display: inline-block;
}

.price .csvButton {
  text-align: left;
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.price .csvButton .btn,
.price .csvButton a.btn,
.price .csvButton button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.price .csvButton a.btn-radius-solid {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.price .csvButton a.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

.price .nextButton {
  text-align: left;
  margin-left: 5%;
}

.price .nextButton .btn,
.price .nextButton a.btn,
.price .nextButton button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  margin-bottom: 3%;
}

.price .nextButton a.btn-radius-solid {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.price .nextButton a.btn-radius-solid:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}

#modalImgs img {
  width: 400px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 0 10px 0;
}

#modalImgs p {
  font-size: 20px;
}

.modalImgForm {
  text-align: center;
  font-size: 15px;
  margin: 10px 0;
}

.modalImgForm input {
  margin: 0 auto;
}
/*# sourceMappingURL=popDemandList.css.map */