body{
    text-align: center;
    background: #d3d3d3;
}

h1{
    margin: 30px 0;
    color: #696969;
}

.backwhite{
    margin: 20px 10%;
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: #666666 10px 5px 5px;
    background: white;
}

form{
    font-size: 15px;

    .edit{
        margin: 25px 0;
        label{
            margin-left:20px;
        }
    }
    #subject{
        width: 50%;
    }

    #horizontal,#vertical,#covering_fare{
        width: 100px;
        text-align: right;
    }

    #reason_label{
        vertical-align: top;
    }

    #reason_detail{
        max-width: 50%;
    }
}

.btn{
    font-size: 15px;
    margin: 0 5px;
}

.alert{
    font-size: 15px;
}