@charset "utf-8";

// media
$sizes: xl, lg, md, sm, xs;

$breakpoint-up: (
    'xs': 'screen and (max-width: 576px)',
    'sm': 'screen and (max-width: 768px)',
    'md': 'screen and (max-width: 992px)',
    'lg': 'screen and (max-width: 1200px)',
    'xl': 'screen and (max-width: 1400px)',
);

$breakpoint-down: (
    'xs': 'screen and (min-width: 577px)',
    'sm': 'screen and (min-width: 769px)',
    'md': 'screen and (min-width: 993px)',
    'lg': 'screen and (min-width: 1201px)',
    'xl': 'screen and (min-width: 1401px)',
);

@mixin mq-up($breakpoint: md) {
    @media #{map-get($breakpoint-up, $breakpoint)} {
        @content;
    }
}
@mixin mq-dwn($breakpoint: md) {
    @media #{map-get($breakpoint-down, $breakpoint)} {
        @content;
    }
}

body{
    text-align: center;
    background: #d3d3d3;
}

h1{
    margin: 30px 0;
    color: #696969;
}

.backwhite{
    margin: 20px 10%;
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: #666666 10px 5px 5px;
    background: white;
}

.search{
    font-size: 15px;
    margin: 20px 0 0 0;
}

#contents{
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin: 3% 0 0 30px;

    table{
        margin: 20px auto 0 auto; 
        width: 100%;
        background: white;

        th,td{
            border: 1px solid #666666;
            padding: 5px 0;
            height: 35px;

            @include mq-up('lg') {
                height: 20px;
            }
        }

        @include mq-up('lg') {
            font-size: 15px;
        }
    }
}

.contents{
    &-item{
        width: 28%;
        margin: 0 2% 0 2%;
        min-height: 600px;

        @include mq-up('lg') {
            width: 30%;
            margin: 0 1% 0 1%;
        }

        @include mq-up('md'){
            width: 40%;  
            min-height: 400px;
        }

        @include mq-up('sm'){
            width: 300px;  
        }

        img,iframe{
            width: 100%;
            height: 50%;
            object-fit: contain;
        }
    }

    &-title{
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 20px;
        height: 65px;

        @include mq-up('lg'){
            height: auto;
            font-size: 15px;
        }
    
        &-num{
            position: absolute;  // 追記
            left: 5px;    
        }

        &-text{
            width: 80%;
        }
    }
}

#editButton{
    margin: 20px 0 0;
}

.dropdown{
    display: inline-block;

    .dropdown-menu{
        li{
            button{
                width: 100%;
                margin: 5px 0;
                padding: 5px 0;
                font-weight: 600;
            }
        }
    }
}

form{
    font-size: 15px;

    .edit{
        margin: 25px 0;
        label{
            margin-left:20px;
        }

        input{
            margin: 0 auto;
        }
    }

    #title,#title_edit{
        width: 50%;
    }

    #addstoreList{
        font-weight: 600;
    }

    #demand_detail_label{
        vertical-align: top;
    }

    #demand_detail{
        max-width: 50%;
    }
}

.btn{
    font-size: 15px;
    margin: 0 5px;
}

.select-c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.btn.btn-select {
    color: #708090;
    font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
    font-weight: bold;
    font-size: 50px;
    background-color: #afeeee;
    border-radius: 50%;
    height: 200px;
    margin: 30px;
    padding: 50px;
    -webkit-box-shadow: 0 10px 0 #add8e6;
    box-shadow: 0 10px 0 #add8e6;
}

.modal{
    display: none;
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100%;
    text-align: center;
    overflow: auto;
    overflow: scroll;

    h2{
        font-size: 25px;
        margin: 20px 0;
    }

    button{
        width: 150px;
        height: 40px;
        margin: 5px 20px;
        font-size: 15px;
    }

    p{
        font-size: 15px;
        margin: 20px;
    }

    form{
        .edit{
            margin: 3% 5px;
            font-size: 15px;

            div{
                display: inline-block;
                margin-right: 10px;

                p{
                    display: inline-block;
                }
            }
        }

        #subject,#subject_edit{
            width: 60%;
        }

        #number,#number_edit{
            width: 50px;
        }

        #horizontal,#vertical,#covering_fare,#horizontal_edit,#vertical_edit,#covering_fare_edit{
            width: 80px;
        }

        #demand_detail_label{
            vertical-align: top;
        }
    }

    .alert{
        font-size: 15px;
    }

    .modal__bg{
        background: rgba(0,0,0,0.8);
        height: 100%;
        position: absolute;
        width: 100%;
    }
    .modal__content{
        background: #fff;
        left: 50%;
        padding: 40px;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
    }

    #modalImgs{
        img{
            width: 400px;
            height: 300px;
            object-fit: cover;
            margin: 0 0 10px 0;
        }
    
        p{
            font-size: 20px;
        }
    }
    
    .modalImgForm{
        text-align: center;
        font-size: 15px;
        margin: 10px 0;
        input{
            margin: 0 auto;
        }
    }
}

.nextButton{
    text-align: left;
    margin: 2% 5%;
    display: flex;
    justify-content: space-between;
    .btn,
    a.btn,
    button.btn {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.5;
      padding: 1rem 4rem;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      letter-spacing: 0.1em;
      color: #212529;
      border-radius: 0.5rem;
      margin-bottom: 3%;
    }

    a.btn-radius-solid {
        border: 1px solid #ccc;
        background: #f1e767;
        background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
        background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
        background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
        -webkit-box-shadow: inset 1px 1px 1px #fff;
        box-shadow: inset 1px 1px 1px #fff;
      }
      
      a.btn-radius-solid:hover {
        background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
        background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
        background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
    }
}

